.privacy-text-field {
  text-align: start;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  width: 80vw;
  height: auto;
}

.privacy-main {
  margin: 100px 0;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}